@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "src/scss/fonts.scss";
@import "src/scss/fontawesome.scss";
//@import "src/scss/flowplayer.scss";
//@import "src/scss/flowplayer-functional.scss";


.breadcrumb{
	padding:15px 5px 0px 5px;
	background-color: transparent;
	margin-bottom:0;
	border:none;
}

.page-header{
	margin:0;
	padding:0;
}

.mainContainer{
	background-color:white;
	border: 3px solid rgba(86,120,3,0.4);
	border-radius:20px 20px 20px 20px;
	border-left:none;
	border-right:none;
	margin-top: -40px;
	margin-bottom: -60px;
}

#header-surround{
	background: #678F06 url(../images/header-top.png) 50% 0 repeat-x;
}

.footer-surround{
	position:relative;
	background: #678F06 url(../images/header-top.png) 50% 0 repeat-x;
	z-index: -1;

	.cambs-footer-overlay{
		background: url(../images/header-overlay.jpg) 50% 0px no-repeat;
		min-height:90px;
		border-top: solid #567803;
	}


}

.cambs-header-overlay{
	background: url(../images/header-overlay.jpg) 50% 0px no-repeat;
	min-height:350px;//careful mobile todo...
	border-bottom:solid rgb(86,120,3);
}	

footer div{
	margin:0;
	position: absolute;
	bottom: 4px;
}

.row.social{
	padding-bottom: 8px;
}

#totop{
	cursor: pointer;
	float: right;
	text-align: right;
  	margin-right: 15px;
}

.moduletable.webdesign{
	padding: 20px;
}

.jumbotron{
	background-color:transparent !important;
	padding-top:0;
}

.fp-ui{
	//background: url(../images/play_white.png) left top no-repeat !important;
}

//flow player tweaks
.fp-controls{
	//display:none;
}

.flowplayer{
	position: absolute !important;
	top: 0;
	background-image: url("http://localhost/~calvincrane/cambs.eu/images/cambridge-webdesign-poster.jpg");
	z-index: -1; //was cause a problem if using a poster frame !!!
}
/*.flowplayer{
	position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
   	border: 0;
   	width: 100%;
   	min-height:200px;
    height:auto;
    z-index: -1; //causes a problem if using a poster frame !!!
    //background-image: url(http://localhost/~calvincrane/cambs.eu/images/cambridge-webdesign-poster.jpg);

    video{
    	//border: 0px solid rgba(86,120,3,0.6);
		//border-radius:0px 0px 100px 100px;
		//min-height:583px;
		//height:auto;
		width: 100%;
    }
}
*/


//@media (max-width: $screen-sm-min){
	#logo {
	  background: url(../images/logo_sm.png) 0 0 no-repeat;
	  display: block;
	  width: 105px;
	  height: 22px;
	  margin-top: 3px;
	  margin-bottom: 3px;
	  z-index: 10;
	}
//}

//@media (min-width: $screen-sm-min){
	#logo {
	  background: url(../images/logo.png) 0 0 no-repeat;
	  display: block;
	  width: 185px;
	  height: 32px;
	  margin-top: 10px;
	  margin-bottom: 10px;
	}
//}

.cambs-block{
  margin-bottom: 10px;
  position: relative;
}

.cambs-header{
	color:#FFF;
}

.carousel-indicators{
	bottom: 0px;
}

.carousel-inner {
		.item{
			//min-height:900px;
			height: 100%;
			img{
				max-width: 523px;
				width: 100%;
			}
			.carousel-caption{
				position:initial;
				/*left:0px;
				bottom:0px;
				padding-bottom: 0px;*/
			}
		}
}

.cambs-menubar{
	background: url(images/menubar-m.png) 0 0 repeat-x;
	margin: 0 15px;
}
.cambs-menubar2{
	background: url(images/menubar-l.png) 0 0 no-repeat;
	margin-left:-15px;
}
.cambs-menubar3{
	background: url(images/menubar-r.png) 100% 0 no-repeat;
	height: 45px;
 	margin-right: -15px;
}
/*carousel*/
.carousel-control {

  &.left {
    @include gradient-horizontal($start-color: rgba(0,0,0,.5), $end-color: rgba(0,0,0,.0001));
    background-image:none;
  }
  &.right {
    @include gradient-horizontal($start-color: rgba(0,0,0,.0001), $end-color: rgba(0,0,0,.5));
    background-image:none;
  }
}

/*style taken from the mod_bootstrapnav phptemplate file where it was harder to find and modify..*/
	.navbar-default{
		border:none;
	}

	@media(min-width: $screen-md-min){

			.navbar-default .navbar-nav > li > a{
			min-width: 120px;
			text-align: center;
		}
	}

	@media(min-width: $screen-sm-min){

		ul.navbar-nav {
			//background-color:rgba(86,120,3,0.4);
			background: url(../images/header-overlay.jpg) 50% 0px no-repeat;
			border: 2px solid rgba(86,120,3,0.4);
		    border-radius:0px 0px 8px 8px;
		    border-top:none;
		}

		.navbar-default .navbar-nav > li > a{
			color:#d9e4ff;
		}

	}
/*END style taken from the mod_bootstrapnav phptemplate file where it was harder to find and modify..*/


/*navabar code from bootstrap scss file overides*/

.contact-links .nav >li > a:hover {
	color:#23527c !important;
}


// media query for narrow to add the border and background fills..or rather overide the larger device only..
@media (min-width: $screen-sm-min){

	.nav >li > a:hover {
		color:#f1f4a4 !important;
	}

	.navbar-default{

		.navbar-nav > .active > a, 
		.navbar-nav > .active > a:hover,
		.navbar-nav > .active > a:focus{
			background:none;
			color:#b8c1de;
	}

		border-radius: 2px;
		border-top:none;
		border-color: #678f04 !important;
		//border-width: 3px;
		background-color: transparent;
	}
}

//CONTACT PAGE 
.contact{
	@extend .well;
	@extend .well-sm;
	margin: 20px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
    }
}

//FEATURE TABLE
.rokfeaturetable{
	a{
		color:#333333;
	}
}
//top left corner detail

.ft-column-first .ft-row-top.name .featuretable-cell-data{
  -moz-border-radius: 12px 0 0 0;
  -webkit-border-radius: 12px 0 0;
  border-radius: 12px 0 0;
}

//top right corner detail
.ft-column-last .ft-row-top.name .featuretable-cell-data{
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0px 10px 0;
  border-radius: 0px 10px 0 0;
}



.featuretable-cell {
  //border-bottom: 1px solid #ddd;
}

.ft-highlight .featuretable-cell {
  background: #9fb028;
  //border-bottom: 1px solid #B0BD53;
  border-top: 1px solid #899631;
}

//overide a bad border from the legacy
.ft-highlight.ft-column-first .featuretable-cell {border-left: 1px solid #899631;}
.ft-column-first .featuretable-cell {border-left: 1px solid #ddd;}

.ft-highlight.ft-column-last .featuretable-cell {border-right: 1px solid #899631;}
.ft-column-last .featuretable-cell {border-right: 1px solid #ddd;}

//overide link colours
.ft-highlight a:link, .ft-highlight a:visited {color: #ffffff;}
.ft-highlight a:hover {color: #899631;}

//shade just the first column on the right side cells
.ft-column-first {
	.featuretable-cell{
		@include gradient-horizontal(rgba(0,0,0,0), rgba(0,0,0,.1), 75%, 100%);
	}
}
.ft-column-last {
	.featuretable-cell{
		@include gradient-horizontal(rgba(0,0,0,.1),rgba(0,0,0,0) , 0%, 25%);
	}
}
//enqiure
.enquire .featuretable-cell-data{
	@include button-variant(#cece19, #202020, #2dbe27);
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

//price text
.price .featuretable-cell-data {
  font-size: 50px;
  line-height: 40px;
  display: block;
}
//name text
.name .featuretable-cell-data {
	font-size: 20px;
}

.ft-highlight{
	.featuretable-cell.name{
		background-color: darken( #9fb028, 10% );
	}
}
.featuretable-cell.name{
		background-color: darken( #c8c8c8, 10% );	
		
}


